main {
  width:70%;
  margin-left:70px;
}
.ingr-search-picture {
  width:100%;
  height:200px;
  object-fit:cover;
  border-radius: 20px 20px 0px 0px;
}
.ingr-list {
  display:flex;
  width:100%;
  flex-direction: column;
}
.ingredient-block {
  display:flex;
  width:332px;
  flex-direction: column;
  background: #FFF;
  margin:10px 0px;
  border-radius:20px;
  position:relative;
}
.ingredient-name {
  padding: 0px 20px 0px 20px;
    margin:20px 0px;
  font-family: 'Nunito';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 15px;
display: flex;
align-items: center;

color: #000000;
}
.ingredient-description {
  padding: 0px 20px 20px 20px;
  font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 15px;
display: flex;
align-items: center;

color: #000000;
}
.ingredient-list {
  display:flex;
}
.ingredient-block:not(:first-child) {
  margin-left:20px;
}
.search-text {
  font-size:15px;
  font-weight:500;
}
