main {
  width:70%;
  margin-left:70px;
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: rgba(0, 0, 0, 0.3);
      letter-spacing: 0;
}
/*Добавление ингредиента*/
.ingredients-block, .categories-block, .tag-block {
    transition:all 0.2s ease;
display:none;
}
.img {
  display:flex;
  justify-content: center;
  align-items: center;
  width:300px;
  height:300px;
  border-radius: 20px;
  border: 2px solid #DDD;
  margin-bottom: 10px;
}
.img img {
  width:250px;
  height:250px;
object-fit: cover;
}
input[name="title"],input[name="name"] {
  width: 300px;
  height: 30px;
}
label[for="title"],label[for="description"],label[for='name'],p {
  margin: 5px 0px;
}
label[for='title'], input[name='title'], textarea[name='description'], label[for='description'],label[for='name'],p {
  font-size:15px;
  font-weight:500;
}
input[name="title"], textarea[name="description"],input[name="name"] {
  font-size:15px;
  font-weight:500;
  color: #000;
  border: 2px solid #AAA;
  border-radius:10px;
  padding: 15px;
}
input[name="submit-ingradd"],input[name="submit-ingrup"],input[name="submit-ingrdel"] {
  margin:10px 0px;
  display:flex;
  justify-content: center;
  align-items: center;
  font-style: normal;
  bottom: 0px;
font-weight: 600;
font-size: 14px;
line-height: 23px;
color: #000;
width: 180px;
height: 49px;
border: none;

background: #FFFFFF;
box-shadow: 0px 4.66667px 4.66667px rgba(0, 0, 0, 0.25);
border-radius: 23px;
  transition: all 0.2s ease;
}
input[name="submit-ingradd"]:hover {
  background: #FFD6D5;
}
input[name="submit-ingrup"]:hover {
  background: #FFD6D5;
}
input[name="submit-ingrdel"]:hover {
  background: #FFD6D5;
}
h3 {
  margin: 10px 0px;
  border: 2px solid #DDD;
  font-family: 'Nunito';
  width:max-content;
  border-radius: 20px;
  padding: 10px 25px;
  background: #FFF;
}
.btn-list img {
  margin-left:20px;
  margin-bottom:-2px;
height:70%;
  transition:all 0.2s ease;
  transform: rotate(0deg);
}
.btn-list {
  margin: 5px 0px;
  width:100%;
  background: #FFF;
  padding: 10px 20px;
  color:#000;
  font-weight:500;
  font-size: 15px;
  border:none;
}
.btn-list:active {
  background:#BBB;
}
.btn-list:hover {
  background: #DDD;
}
.add-ingr-form, .up-ingr-form, .del-ingr-form {
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #FFF;
}
.description-ingr {
  resize:none;
  width:90%;
  height:200px;
}
.message-block {
  display:block;
  background: #FFC0CB;
  border-radius: 10px;
  padding: 15px 10px;
  font-size:14px;
  font-weight: 500;
color: #BA0000;
width:284px;
margin-bottom:5px;
}
.up-block {
  display:flex;
  position:relative;
}
.message-block-good {
  position:absolute;
  font-size:14px;
  font-weight: 500;
color: #11772D;
display:flex;
justify-content:center;
align-items:center;
padding: 10px;
background: #9CFF88;
border-radius: 10px;
width: 330px;
height: 50px;
margin-left:300px;
}
.subtitle-img {
  font-size:15px;
  font-weight:500;
  width:500px;
  margin: 5px 0px;
  display:flex;
  text-align: center;
}
/*Изменение ингредиента*/
.ingr-search-picture {
  width:100%;
  height:200px;
  object-fit:cover;
  border-radius: 20px 20px 0px 0px;
}
.ingr-list {
  display:flex;
  width:100%;
  flex-direction: column;
}
.ingredient-block {
  display:flex;
  width:332px;
  flex-direction: column;
  background: #FFF;
  margin:10px 0px;
  border-radius:20px;
  position:relative;
}
.link-update {
  position:absolute;
  right:0;
  margin: 10px 10px 0px 0px;
}
.link-update img {
  height:30px;
  width:30px;
}
.ingredient-name {
  padding: 0px 20px 0px 20px;
    margin:20px 0px;
  font-family: 'Nunito';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 15px;
display: flex;
align-items: center;

color: #000000;
}
.ingredient-description {
  padding: 0px 20px 20px 20px;
  font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 15px;
display: flex;
align-items: center;

color: #000000;
}

.ingredient-list {
  display:flex;
}
.ingredient-block:not(:first-child) {
  margin-left:20px;
}
.show {
  display:flex;
}
.hide {
  display:none;
}
.show-block {
  display:block;
}
/*Удаление ингредиента*/

.del-ingr-form input[type="text"], .del-ingr-form textarea {
  pointer-events:none;
}
/*Кастомизация поисков*/
input[name="search-ingr-up"], input[name="search-ingr-del"] {
  width: 330px;
  height: 44px;
  background: #FFFFFF;
  border-radius: 20px 0px 0px 20px;
  border: none;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #000;
  padding-left: 24px;
}
h3.title {
  font-family: 'Nunito';
  font-size:20px;
  color:#000;
  background: #FFF;
  border:none;
}
.ingr-up-search-block,.ingr-del-search-block {
  margin-top:20px;
}
.search-text {
margin: 5px 0px 5px 10px;
  font-size:15px;
  font-weight:500;
  color:#000;
  font-family:'Roboto';
}
input[name="submit-search-ingr-up"], input[name="submit-search-ingr-del"]{
  margin: 4px 0px 0px -3.5px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 18px;
border: none;
color: #000000;
width: 105px;
height: 44px;
background: #FFFFFF;
border-left: 2px solid rgba(0, 0, 0, 0.3);
border-radius: 0px 10px 10px 0px;
transition: all 0.2s ease;
}
input[name="submit-search-ingr-up"]:hover {
  background: #DDD;
}
input[name="submit-search-ingr-up"]:active {
  background: #BBB;
}
input[name="submit-search-ingr-del"]:hover {
  background: #DDD;
}
input[name="submit-search-ingr-del"]:active {
  background: #BBB;
}
